*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background: #000;
    color: white;
}

body {
    background: url(../images/darkness.png) #000 repeat;
    background-size: auto;
    font: 400 18px 'Merienda', cursive;
}

#web,
.welcome,
.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#web {
    max-width: 960px;
    height: 100vh;
    background: url(/images/playstation-pattern.png) #fff repeat;
    background-size: cover;
    margin: 0 auto;
    position: relative;
}

.page-header {
    padding: 5px;
}

.page-header h1 {
    font-size: 28px;
    color: rgb(136, 7, 7);
    margin: 15px 0;
    letter-spacing: 3px;
    text-shadow: 2px 1px 2px #000;
    text-align: center;
}

.game {
    position: absolute;
    top: 30%;
    left: -3000px;
    margin: 10px;
    width: 80%;
    transform: translate(-50%);
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}

.game-main {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.section-header {
    font-size: 20px;
    text-shadow: 1px 1px 3px whitesmoke;
}

form {
    margin: 10px;
    text-align: left;
    font-size: 20px;
    padding-left: 5px;
}

form label {
    line-height: 36px;
}

.nick {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: rgb(136, 7, 7);
    text-transform: uppercase;
}

.nick::after {
    content: " - make Your choise";
    text-transform: none;
    color: #000;
    font-size: 18px;
}

.game div img {
    display: none;
    width: 150px;
    height: 100%;
}

.welcome {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

input,
button {
    color: rgb(243, 243, 243);
    text-align: center;
    outline: none;
    text-transform: uppercase;
}

.welcome input {
    margin: 15px;
    padding: 15px;
    background-color: rgb(75, 75, 75);
    border: none;
    font-size: 18px;
    box-shadow: 2px 2px 10px black;
}

button {
    background-color: rgb(136, 7, 7);
    border: none;
    padding: 15px 35px;
    font-size: 18px;
    margin: 10px;
    box-shadow: 2px 5px 10px rgb(136, 7, 7);
    transition: 0.5s all linear;
    -webkit-transition: 0.5s all linear;
    -moz-transition: 0.5s all linear;
    -ms-transition: 0.5s all linear;
    -o-transition: 0.5s all linear;
}

button:hover {
    font-size: 22px;
    transition: 0.3s all linear;
    -webkit-transition: 0.3s all linear;
    -moz-transition: 0.3s all linear;
    -ms-transition: 0.3s all linear;
    -o-transition: 0.3s all linear;
}

input[type="radio"] {
    display: none;
}

form label:hover {
    color: rgb(136, 7, 7);
    border-bottom: 2px solid rgb(0, 0, 0);
}

.result {
    opacity: 0;
    position: absolute;
    width: 100%;
    align-items: center;
    flex-direction: column;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transition: all ease-in .3s;
    -webkit-transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    -ms-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
}

.player-change::before {
    content: "Your change: ";
    padding: 10px;
}

.cpu-change::before {
    padding: 10px;
    content: "CPU change: ";
}

@media all and (min-width:960px) {
    .page-header h1 {
        font-size: 42px;
    }

    .section-header {
        font-size: 26px;
    }

    form,
    .player-change::before,
    .cpu-change::before,
    .result p {
        font-size: 24px;
    }

    .nick {
        font-size: 32px;
    }

    .welcome input {
        margin: 30px;
    }
}